.primary-button {
  color: black !important;
  background-color: var(--primary-color) !important;
}

.rounded-button {
  overflow: hidden !important;
  width: 10rem !important;
  border-radius: 2rem !important;
  text-align: center !important;
}
