.outer-container {
  width: 30rem;
  background-color: white;
}

.tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-button, .sign-up-button {
  border-radius: 10px;
  overflow: hidden;
}
