.outer-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100vw;
  flex: 1;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 3rem;
  }

  .logged-user {
    display: flex;
    flex-direction: row;

    .username-text {
      font-size: large;
      font-weight: bolder;
      margin-right: 1rem;
      align-self: center;
    }
  }
}

.content {
  display: flex;
  width: 100vw;
  flex: 10;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;

  .movies-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

.footer {
  display: flex;
  width: 100vw;
  flex: 1;
  background-color: var(--primary-color);
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}
